<div class="page-wrapper">
    <div class="footer">
        <p>Built by <a target="_blank" href="https://github.com/aidenappl">Aiden Appleby.</a></p>
        <div class="btns">
            <button (click)="navigateToLogin()">Login</button>
            <button (click)="navigateToSeeker()">Seeker</button>
        </div>
    </div>
    <!-- <div class="logo fullXCenter reg-image"></div> -->
    <div class="center-modal fullCenter">
        <div class="horizontal-checks fullXCenter">
            <div class="step-object" [class.active]="step >= 1">
                <span>1</span>
            </div>
            <div class="step-object" [class.active]="step >= 2">
                <span>2</span>
            </div>
            <div class="step-object" [class.active]="step >= 3">
                <span>3</span>
            </div>
            <div class="step-object" [class.active]="step >= 4">
                <span>4</span>
            </div>
            <div class="step-hr fullYCenter">
                <div class="fill" [ngStyle]="{'width': 'calc(33% * '+step+' + 20px)'}"></div>
            </div>
        </div>
        <!-- Step 1 -->
        <div class="step-wrapper fullXCenter" [class.out]="step > 1" [class.active]="step == 1">
            <div class="header-container">
                <h2>Welcome! First things first...</h2>
                <p>Get your Student ID ready to go!</p>
            </div>
            <div class="inputs-container fullXCenter">
                <div class="input-wrapper">
                    <p>Student ID</p>
                    <input #studentID type="text" placeholder="Lookup Student ID" (keyup)="lookupKeyup($event)">
                </div>
                <div class="dropdown-wrapper" *ngIf="results.length > 0">
                    <ul id="dropdown-holder">
                        <li *ngFor="let res of results" (click)="selectResult(res)">{{res.name}}</li>
                    </ul>
                </div>
                <div class="input-wrapper">
                    <div class="loader" [hidden]="btnValue.length > 0"></div>
                    <input type="submit" value={{btnValue}} (click)="next()">
                </div>
            </div>
        </div>
        <!-- Step 2 -->
        <div class="step-wrapper fullXCenter" [class.out]="step > 2" [class.active]="step == 2">
            <div class="header-container">
                <h2>Scan your items</h2>
                <p>Grab the assets and check them out or in?</p>
            </div>
            <div class="inputs-container fullXCenter">
                <div class="input-wrapper assetSID bulk">
                    <p>Asset ID</p>
                    <input #assetID type="text" placeholder="The Asset ID..." id="assetID" (keyup.enter)="addToCart()">
                    <div class="plus-btn" (click)="addToCart()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                        </svg>
                    </div>
                </div>

                <div class="cart" *ngIf="cart.length > 0">
                    <h2>Your Cart</h2>
                    <div class="item" *ngFor="let item of cart">
                        <div class="icon reg-image" [ngStyle]="{'background-image': 'url('+item.image_url+')'}"></div>
                        <div class="info fullYCenter">
                            <h3>{{item.name}}</h3>
                            <p [class.warn]="item.active_tab" [class.alert]="item.active_tab && item.active_tab.user.identifier === studentIDInput.nativeElement.value">{{item.active_tab ? (item.active_tab.user.identifier === studentIDInput.nativeElement.value ? "Pending Check In" : "Unavailable") : 'Available'}}
                                <a (click)="viewAssetHistory(item)" *ngIf="item.active_tab && item.active_tab.user.identifier !== studentIDInput.nativeElement.value">View Info</a>
                            </p>
                        </div>
                        <div class="remove fullYCenter" (click)="removeCartItem(item)" *ngIf="!(item.active_tab && item.active_tab.user.identifier === studentIDInput.nativeElement.value)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </div>
                        <div class="check-in fullYCenter" *ngIf="(item.active_tab && item.active_tab.user.identifier === studentIDInput.nativeElement.value)">
                            <input type="button" (click)="checkinAsset(item)" value="{{!item.showCheckinLoader ? 'Check In' : ''}}">
                            <div class="loader" [hidden]="!item.showCheckinLoader"></div>
                        </div>
                    </div>
                </div>

                <div class="input-wrapper" style="height: 60px;">
                    <div class="loader" [hidden]="btnValue.length > 0"></div>
                    <input type="submit" value={{btnValue}} (click)="checkout()">
                </div>
                <div class="input-wrapper sec">
                    <input type="submit" value='Restart' (click)="reload()">
                </div>
            </div>
        </div>
        <!-- Step 3 -->
        <div class="step-wrapper fullXCenter" [class.out]="step > 3" [class.active]="step == 3">
            <div class="header-container">
                <h2>Let's get this done!</h2>
                <p>Add some last bits and pieces.</p>
            </div>
            <div class="inputs-container fullXCenter">

                <!-- Checkout -->
                <div class="horizontal-square-select" *ngIf="selectedAction === 'checkout'">
                    <div class="square-select" (click)="selectLocationAction('onsite')" [class.active]="locationAction === 'onsite'">
                        <div class="sq-logo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                        </div>
                        <div class="sq-text noselect">
                            <h5>On-Campus</h5>
                            <p>Will the equiptment remain here on campus?</p>
                        </div>
                    </div>
                    <div class="square-select" (click)="selectLocationAction('offsite')" [class.active]="locationAction === 'offsite'">
                        <div class="sq-logo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg>
                        </div>
                        <div class="sq-text noselect">
                            <h5>Off-Campus</h5>
                            <p>Do you plan on taking the equiptment home?</p>
                        </div>
                    </div>
                </div>
                <div class="input-wrapper" *ngIf="selectedAction === 'checkout'" [hidden]="locationAction === 'onsite'">
                    <p>Duration</p>
                    <input #duration type="date">
                </div>

                <!-- Checkin -->
                <div class="input-wrapper" *ngIf="selectedAction === 'checkin'">
                    <p>Any Notes?</p>
                    <textarea #notes placeholder="What condition is the equiptment in..."></textarea>
                </div>

                <!-- Lookup -->
                <div class="device-wrapper" *ngIf="selectedAction === 'lookup'">
                    <div class="device-image reg-image" *ngIf="asset" [ngStyle]="{'background-image': 'url('+asset.image_url+')'}"></div>
                    <div class="device-details">
                        <h1>{{asset ? asset.name : "Title"}}</h1>
                        <h2>{{asset ? (asset.active_tab ? "Currently checked out to " + asset.active_tab.user.name : asset.description) : "Subtitle"}}</h2>
                        <a (click)="back()" [ngClass]='asset ? (asset.active_tab ? "checkedout" : "checkedin") : ""'>{{asset ? (asset.active_tab ? "Checked Out" : "Available") : ""}}</a>
                    </div>
                </div>

                <!-- Step 3 Submit Btn -->
                <div class="input-wrapper" *ngIf="selectedAction != 'lookup'">
                    <div class="loader" [hidden]="btnValue.length > 0">Loading...</div>
                    <input type="submit" value={{btnValue}} (click)="done()">
                </div>
                <div class="input-wrapper" *ngIf="selectedAction === 'lookup'">
                    <input type="submit" value="Go Back" (click)="back()">
                </div>
            </div>
        </div>
        <!-- Step 4 - Success -->
        <div class="step-wrapper fullXCenter" [class.out]="step > 4" [class.active]="step == 4">
            <div class="check-wrapper fullXCenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="fullCenter feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
            </div>
            <div class="success-container">
                <h2>All Set{{!user ? "!" : ', ' + user.name.split(" ")[0]}}!</h2>
                <p>You are all set and thanks for using the Asset System.</p>
                <div class="inputs-container fullXCenter">
                    <div class="input-wrapper">
                        <input type="submit" value="Start Over" (click)="reload()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>