<div class="page-wrapper">
    <div class="page-module fullCenter">
        <h2 class="header">Hillview Assets</h2>
        <div class="input-container">
            <input type="text" data-profileKey="name" id="profile-name-input" (focus)="formInputFocused($event)" (blur)="formInputBlurred($event);" (input)="formKeyup($event);">
            <p class="label">Student ID<strong class="required">*</strong></p>
        </div>
        <div class="input-container">
            <input type="text" data-profileKey="name" id="profile-name-input" (focus)="formInputFocused($event)" (blur)="formInputBlurred($event);" (input)="formKeyup($event);">
            <p class="label">Asset Tag<strong class="required">*</strong></p>
        </div>
        <button>Check Out</button>
    </div>
</div>